# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
/config.env
.env
# dependencies
/node_modules
frontend/.pnp
frontend/.pnp.js
/frontend/node_modules
# testing
frontend//coverage
/note.txt
# production
/frontend/build

# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
