.shippingContainer {
  width: 100vw;
  height: 110vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(231, 231, 231);
  position: fixed;
}

.shippingHeading {
  text-align: center;
  color: rgba(0, 0, 0, 0.664);
  font: 400 1.3vmax "Roboto";
  padding: 1.3vmax;
  border-bottom: 1px solid rgba(0, 0, 0, 0.205);
  width: 50%;
  margin: 5vh;
  align-self: center;
}

.shippingBox {
  background-color: white;
  width: 70vw;
  height: 80vh;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.shippingBox > form > div {
  display: flex;
  width: 100%;
  align-items: center;
}

.shippingForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 2vmax;
  justify-content: space-evenly;
  height: 80%;
  transition: all 0.5s;
}

.shippingBox > form > div > input {
  padding: 1vmax 4vmax;
  padding-right: 1vmax;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 4px;
  font: 300 0.9vmax cursive;
  outline: none;
}

.shippingBox > form > div > div > input {
  padding: 1vmax 4vmax;
  padding-right: 1vmax;
  width: 95%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 4px;
  font: 300 0.9vmax cursive;
  outline: none;
}

.shippingForm > div > svg {
  position: absolute;
  transform: translateX(1vmax);
  font-size: 1.6vmax;
  color: rgba(0, 0, 0, 0.623);
}

.shippingForm > div > div {
  display: flex;
  justify-content: space-around;
}

.shippingForm > div > div > svg {
  position: absolute;
  color: rgba(0, 0, 0, 0.623);
  font-size: 1.6vmax;
  transform: translateX(-7vmax);
  margin-top: 1%;
}

.shippingBtn {
  border: none;
  background-color: #790252;
  color: white;
  font: 300 1vmax "Roboto";
  width: 100%;
  padding: 1vmax;
  cursor: pointer;
  transition: all 0.5s;
  outline: none;
  margin: 2vmax;
}

.shippingBtn:hover {
  background-color: #852765;
}

@media screen and (max-width: 600px) {
  .subAdressContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 12vh;
    justify-content: space-evenly;
  }
}
